@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'GeistMono';
  src: url('../pages/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GeistMono', sans-serif;
}
